Source: pgl-ddl-deploy
Section: database
Priority: optional
Maintainer: Jacob Burroughs <jburroughs@instructure.com>
Build-Depends:
  architecture-is-64-bit <!pkg.postgresql.32-bit>,
  debhelper-compat (= 13),
  libpq-dev,
  postgresql-16-pglogical,
  postgresql-all <!nocheck>,
  postgresql-server-dev-all
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/instructure/pgl_ddl_deploy
Vcs-Browser: https://github.com/instructure/pgl_ddl_deploy
Vcs-Git: https://github.com/instructure/pgl_ddl_deploy.git

Package: postgresql-16-pgl-ddl-deploy
Architecture: any
Depends:
  postgresql-16,
  ${shlibs:Depends},
  ${misc:Depends}
Description: Transparent DDL replication for PostgreSQL
 Automated DDL deployment using PgLogical for PostgreSQL 16.
